
.albumOne .img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: .2px;
}
.albumOne .img{
    width: 56px;
    height: 56px;
    border: 3px solid #ddd;
    border-radius: 50%;
    display: flex;
    margin-bottom: 13px;
    margin-left: 20px;
}
.albumOne section{
    padding: 6px 0;
    border: 0;
}
.albumOne .flex h3{
    font-size: 14px;
    margin: auto 18px;
    margin-top: 14px;
    padding: 5px;
}

.albumOne section img{
    width: 100%;
    object-fit: contain;
}


.commentfalse{
    background-color: #ddd;
    height: 0px;
    overflow-y: hidden;
    overflow-y: scroll;
}
.commenttrue{
    background-color: #eff;
    height: 170px;
    overflow-y: hidden;
    overflow-y: scroll;
}
.commentBTN button{
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: poppins;
    font-size: 15px;
    padding-left:10px;
    padding-bottom: 10px;
}
.commentBTN span{
    position: absolute;
    font-weight: 500;
}
.flexComment{
    display: flex;

    border-radius: 10px;
    
    margin: 10px 5px;
    padding: 5px;
}
.flexComment .colum{
    margin: 0 30px;
    width: 300px;
}

.flexComment button{
    background-color: transparent;
    border: 0;
    
    cursor: pointer;

}

.hora{
    display: flex;
}
.hora button span{
    color: #bbb;
}
.hora button span:hover{
    color: orangered;
}
.colum #time{

    color: #999;
    font-size: 12px;
    margin-top: 5px;
}
/* .flexComment h4,p{
    padding: 0;
    margin: 0;

    
} */
.flexComment .h4{
    color: #777;
    font-size: 13px;

}
.flexComment  .miH4{
    color: #3f72ff;
    font-size: 15px;

}

.albumOne input{
    padding: 10px 5px;
    padding-right: 20%;
    margin: 0px;
    margin-left: 14px;
    border: 0;
    outline: none;
    border-radius: 29px;
    border: 1px solid #ddd;
    font-size: 17px;
    font-family: poppins;
    color: #444;
    width: 77%;

}
.albumOne input::placeholder{
    font-size: 17px;
    font-family: poppins;
    color: #888;


}
.albumOne button {
    border: 0;
    background-color: #eee;
    cursor: pointer;
    border-radius: 29px;

}

.albumOne button .send{
    font-size: 28px;
    color: #777;
    margin-left: 5px;
}

.modalComentario{
    z-index: 999;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    

}
.modalComentario button {

    width: 40px;
    height: 30px;
    font-size: 38px;
    background-color: transparent;
    border: 0;


}
.border{
    border-bottom: 1px solid #ddd;
}
.border button{
    margin-left: 10px;
    margin-bottom: 13px;
    color: #999;

}
.modalSalir{
    display: none;
}
.comment{
    border-radius: 10px;
    background-color: rgba(274, 274, 274, 1);
    height: 90%;
    width: 90%;
    overflow-y: hidden;
    overflow-y: scroll;
    margin: auto;

}
.comment button{
    color: #555;

}
.flexComment .img{
    width: 56px;
    height: 56px;
    border: 3px solid #ddd;
    border-radius: 50%;
    display: flex;
    margin-bottom: 5px;
    margin-left: 10px;
}
.flexComment img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: .2px;
}
.comentarios button{
    margin: 0 10px;
    padding: 10px 10px;
    font-size: 19px;
    letter-spacing: 2px;
    background-color: transparent;
    color: #555;

}

.msj h3{
    margin-left: 10px;
    color: #555;
    font-family: poppins;
}

#publicar{
    background-color: #fff;
    color: #3f72ff;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    left: -66px;
    font-family: poppins;

}
.count{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.count div h4{
	color: #444;
	font-family: poppins;
	font-size: 17px;
	text-align: center;
	margin-bottom: 0;
}
.count div p{
	margin-top: 0;
	text-align: center;
	font-family: poppins;
	font-size: 15px;
	color: #999;
	font-weight: 444;
}

.view{
	display: flex;
	justify-content: space-around;
	padding: 13px 22px;
}
.view button{
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.view button span{
	font-size: 32px;
	color: #888;
}
.view button:focus span{
	color: #3f72ff;
}
