
	.containerMenuUpHome{
	    background-color:#fbfbff;
		border: 1px solid #ddd ;
		display: flex;
		justify-content: space-around;
		
	}
	.containerMenuUpHome img{
		width: 140px;
		height: 40px;
		margin-top: 10px;
	}
	


	.search{
	    display: flex;
	    justify-content: space-around;
		margin-left: 30px;
		margin: 12px;
		height: 35px;
		border-radius: 10px;
		background-color: #fff;
	}
	.search span{
		font-size: 33px;
		color: #262626;
		cursor: pointer;
	}
	.search span:hover{
		
		color: #9FB2E1;
		
	}
